
/*BOX-SIZING*/

* {
	box-sizing: border-box; 
	margin: 0 auto;
}

/* CLEARFIX */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*FONTS */
  
@font-face {
	font-family: 'news706';
	src: url(fonts/news_706.ttf);
	}
@font-face {
	font-family: 'comppro-webfont';
	src: url(fonts/comppro-webfont.ttf);
	font-weight:bold;
	}

p {
	font-family: 'news706';
	font-size: 1em;
	color: #fff;
}

h2 {
	font-family: 'comppro-webfont', Helvetica;
	font-size: 4.5em;
	color: #fff;
	text-align: center;
	padding: 5% 0;
}

/*NAV BAR*/
.navBar {
	background-color: rgba(255, 255, 255, 0.25);
	padding: 2%;
	margin-top: 0;
	width: 100%;
	position: fixed;
	top: 0;
}

.navBar li {
	display: inline;
	padding: 0 5%;
}

.navBar li a {
	font-family: 'news706', sans-serif;
	color: #fff;
	font-size: 1.35rem;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	list-style-type: none;
}

.navBar li a:hover {
	color: #C20027;
	border-bottom: 1px solid #C20027;
}

/*CONTENT*/
.header {
	background-image: url(images/ORLloon.jpg);
	background-attachment: fixed;
	/*background-position: center;*/
	top: 0;
	background-repeat: no-repeat;
	margin: 0 auto;
	padding: 75px 0 450px 0;
}

/*ABOUT: INTRO*/
.about {
	width: 80%;
	margin: 0 auto;
}

.about p {
	padding: 4% 2%;
	color: #333;
	font-family: 'comppro-webfont', sans-serif;
	font-size: 2em;
	line-height: 2em;
}

.about p::first-line {
	font-size: 1.15em;
	color: #C20027;
}

/*ABOUT2: BIO*/

.bio {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 5%;
}

.bio p {
	width: 50%;
	float: left;
	margin: 0 auto;
	padding: 0 2% 2% 0;
	color: #333;
	font-size: 1.25em;
	line-height: 2em;
}

.bio a {
	text-decoration: none;
	color: #333;
}

.bio a:hover {
	color: #C20027;
}

/*SKED*/
td {
	width: 33.3%;
	clear: both;
	text-align: left;
}

table {
	width: 80%;
	margin-bottom: 300px;
}

td {
	font-family: 'comppro-webfont';
	color: #333;
	font-size: 2em;
	margin: 0;
	padding: 1%;
}

tr:nth-child(even) {
	background-color: #C20027;
	margin: 0;
	color: #fff;
}


/*MEDIA*/

.media {
	box-sizing: border-box; 
	width: 80%;
	margin: 0 auto;
}

.media img {
	width: 100%;
	padding: 0.5% 0;
	border-bottom: 1px solid #C20027;
}

.mediaSmall img {
	box-sizing: border-box; 
	width: 33.3%;
	float: left;
}

.media img:hover {
	opacity: 0.90;
}

/*FOOTER*/
.footer {
	width: 100%;
	background-color: #C20027;
	bottom: 0;
	margin-top: 1%;
}

.footer p {
	width: 80%;
	padding: 0.75%;
	font-size: 1.25em;
	font-family: 'comppro-webfont', sans-serif;
	color: #fff;
}